<div class="container,card-header text-center">
 
    <h2 style="background-color:rgb(172, 111, 148);">welcome to the Online Classroom Dashboard</h2>
    <!-- Display upcoming classes, announcements, notifications, etc. -->
   &nbsp; 
  
  <img src="https://img.freepik.com/premium-photo/classroom-model-with-laptopconcept-online-courses_258219-270.jpg?w=900" alt="" width="500" height="300">

&nbsp;
&nbsp; 
</div>
  <button routerLink="/attendance" type="button" class="btn btn-info">Attendance</button> &nbsp;   &nbsp; &nbsp;
  <button routerLink="/file" type="button" class="btn btn-info">file</button>

  <router-outlet></router-outlet>
  