<div class="container">
    <h2 style="border: 1cqi solid rgb(100, 50, 100);">Attendance </h2>
    <table class="table">
      <thead >
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>
            <select [(ngModel)]="student.attendanceStatus">
              <option value="Present">Present</option>
              <option value="Absent">Absent</option>
              <option value="Late">Late</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  